<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seja Bem vindo</title>
</head>
<body>
    <header>
        <ul class="lista">
            <img src="" alt="logo da empresa">
            <div class="pags">
            <li><a href="#">Formulario</a></li>
            <li><a href="#">Dietas</a></li>
            <li><a href="#">Sobre</a></li>
        </div>
        <a href="#"><img src="./imgs/IconUser.png" alt=""></a>
        </ul>
       
    </header>
    <main class="principal">

       <div class="formulario">
      <p>Nome</p>
        <input type="text" class="form1">
        <p>Idade</p>
        <input type="text" class="form1">
      <p>Peso</p>
        <input type="text" class="form1">
       <p>Altura</p>
        <input type="text" class="form1">
     <div class="opcao">
        <p>Sexo</p>
        <input type="radio" name="op1"> Masculino
        <input type="radio" name="op1"> Feminino
     </div>
       <div class="opcao2">
        <p>Escolha uma dieta</p>
        <input type="radio" name="dieta"> Dieta
        <input type="radio" name="dieta"> Dieta
        <input type="radio" name="dieta"> Dieta
       </div>
       </div>
       <img src="./imgs/frutas.png" alt="imagem de fundo">
    </main>
    <footer>
      <div class="rodape">
        <img src="./imgs/instagram 5.png" alt="">        
      </div>
      <h2>TODOS OS DIREITOS RESERVADOS | © NUTRI_DEV 2023 </h2>
    </footer>
</body>
</html>