<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <title>Login</title>
</head>

<body>
    <div class="main-login">

        <div class="left-login">
            <h1>Sugestões de dietas aqui pra você.</h1>

            <img src="saudavel.svg" class="left-login-image" alt="imagem saudavel">
        </div>

        <div class="right-login">
            <div class="card-login"> <!--div pra colocar area escura da pagina-->
                <h1>Seja bem vindo á Nutri_Dev</h1>
               
                <div class="textfield"> <!-- div pra colocar formulário usuário-->
                    <label for="usuário"> Usuário: </label>
                    <input type="text" name="username" placeholder="Seu usuário">
                </div>

                <div class="textfield"> <!-- div pra colocar formulário senha-->
                    <label for="Senha">Senha:</label>
                    <input type="password" name="senha" placeholder="Senha">
                </div>   
                
                <div class="textfield">
                    <button class="btn-login" type="submit">Entrar</button>
                    <button class="btn-login" type="submit">Crie sua conta <br> aqui!</button>
                </div>
            </div>
        </div>

</body>

</html>
