@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

/* aplica para todos */
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
}


/* formulario e imagem */
.principal {
    display: flex;
    margin: auto; /* Center the form horizontally */
    padding: 5px;
    justify-content: center;
    background-color: #EFEBE3;
}

.opcao p {
    margin-bottom: 10px;
}

.opcao2 p {
    margin-bottom: 24px;
    text-align: center;
    margin-top: 30px;
}

.opcao2 input {
    margin-left: 40PX;
}

.formulario {
    background: linear-gradient(#4DA768, #209851);
    padding: 80px;
    width: 20%;
    border-radius: 6px;
}

.formulario input {
    border-radius: 5px;
    padding: 4px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.form1 {
    width: 90%;
}

.principal img {
    border-radius: 4px;
}

.opcao p {
    text-align: center;
}

.opcao {
    margin-top: 20px;

}

.opcao input {
    margin-left: 50px;
}

/* rodape */
.footer {
    background-color: #efebe3;
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 22px;
}

footer img {
    margin-left: 89%;
    margin-top: 30px;
}

footer h2 {
    color: #000;
    font-size: 16px;
    margin-top: 120px;
}

.rodape {
    margin-top: 70px;
    margin-bottom: 0px;
}

.btn-login {
    width: 100%;
    font: 'NotoSans', sans-serif;
    padding: 10px 40px;
    margin: 15px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 500px;
    color: #ffffff;
    cursor: pointer;
    background: #000;
    box-shadow: 0px 10px 40px -12px #00000056;
}

.btn-login:hover {
    background-color: #00af5d;
}
