@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

/* aplica para todos */
*{
    padding: 0px;
    margin:0px;
    font-family: 'Inter', sans-serif;
}


/* links para as paginas */
header{
    background: linear-gradient(#4DA768,#209851);
   padding: 25px;
}
 


.lista{
    display: flex;
    list-style: none;
    justify-content: space-around;
   
}
.lista a{
    text-decoration: none;
    margin-left: 70px;
    font-weight: 900;
    color: #000;
}
.pags{
    display: flex;
    
}


/* formulario e imagem */
.principal{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 100px;
    background-color: #EFEBE3;
}
.dev-container {
    padding-top: 35px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.dev-img {
    width: 150px;
    height: 150px;
}
.dev-container a{
    font-weight: 900;
    font-family: 'Inter', sans-serif;
    color: black;
    text-decoration: none;
}


footer{
background-color: #EFEBE3;
display: flex;
justify-content: space-around;
padding: 20px;

}


footer h2{
    color: #000;
    font-size: 16px;
}


 .text-content p {
    margin-bottom: 50px; /* Ajuste o valor conforme necessário */
 }
 .text-content h3{
    margin-bottom: 80px; /* Ajuste o valor conforme necessário */
 }