@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

/* aplica para todos */
*{
    padding: 0px;
    margin:0px;
    font-family: 'Inter', sans-serif;
}


/* links para as paginas */
header{
    background: linear-gradient(#4DA768,#209851);
   padding: 25px;
}
 


.lista{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding-right: 100px;
   
}
.lista a{
    text-decoration: none;
    margin-left: 70px;
    font-weight: 900;
    color: #000;
}
.pags{
    display: flex;
    
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 190px;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    display: block;
    margin-top: 10px;
}
.show {
    display: block;
}
.profile-icon {
    margin-right: 10px;
}
.principal{
    text-align: center;
    display: flex;
    justify-content: center;
    width: auto;
    padding: 160px;
    background-color: #EFEBE3;
}

.dados{
    padding: 10px;
}
.dados p{
    padding-top: 10px;
}

.formulario{
    background: linear-gradient(#4DA768,#209851);
padding: 20px;
width: 20%;
border-radius: 4px;
text-align: center;
}
.formulario input {
    border-radius: 5px;
     padding: 4px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.form1 {
    width: 90%;
}
.principal img{
    border-radius: 4px;
}

.opcao{
    margin-top: 20px;
}


.delete p {
    color: rgb(105, 0, 0);  
    border-bottom: 2px solid red; /* Defina a largura desejada para a borda */
    display: inline-block; /* Isso faz com que a borda apenas envolva o conteúdo do parágrafo */
    padding-bottom: 5px; /* Adiciona algum espaço abaixo do texto */
    cursor: pointer;
}




footer{
    background-color: #EFEBE3;
    display: flex;
    justify-content: space-around;
    padding: 18px; 
}
    
    
footer h2{
    color: #000;
    font-size: 16px;
}

button {
    margin: 30px;
}
.attButton {
    font-weight: 800;
    width: 100%; 
    max-width: 150px; 
    color: #ffffff;
    cursor: pointer;
    background: #000000;
    box-shadow: 0px 10px 40px -12px #00000056;
}
.attButton:hover {
    background-color: #00af5d;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#confirmBtn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#confirmBtn:hover {
    background-color: #45a049;
}