@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

/* aplica para todos */
*{
    padding: 0px;
    margin:0px;
    font-family: 'Inter', sans-serif;
}


/* links para as paginas */
header{
    background: linear-gradient(#4DA768,#209851);
   padding: 25px;
}
 


.lista{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding-right: 100px;
   
}
.lista a{
    text-decoration: none;
    margin-left: 70px;
    font-weight: 900;
    color: #000;
}
.pags{
    display: flex;
    
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 190px;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    display: block;
    margin-top: 10px;
}
.show {
    display: block;
}
.profile-icon {
    margin-right: 10px;
}
.principal{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 100px;
    background-color: #EFEBE3;
}
.dev-container {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.dev-img {
    width: 150px;
    height: 150px;
}
.dev-container a{
    font-weight: 900;
    font-family: 'Inter', sans-serif;
    color: black;
    text-decoration: none;
}


footer{
    background-color: #EFEBE3;
    display: flex;
    justify-content: space-around;
    padding: 10px; 
}
    
    
footer h2{
    color: #000;
    font-size: 16px;
}

.text-content {
    margin: 8px 0; /* Ajuste os valores de cima/baixo conforme necessário */
 }
 .text-content p {
    margin-bottom: 50px; /* Ajuste o valor conforme necessário */
 }
 .text-content h3{
    margin-bottom: 80px; /* Ajuste o valor conforme necessário */
 }

/* o que foi mudado */

 .link:hover{
color: #209851;
 }
.titulo{
    margin-top: 56px;
}
/* RESPONSIVIDADE */

@media (max-width: 970px){
    .dev-container{
        display: flex;
        flex-wrap: wrap;
    }
}

 
