<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <ul class="lista">
          <div class="pags">
            <li>
              <a href="/imc">IMC</a></li>
            </li> 
          <li>
            <a href="/sobre">Sobre</a></li>
          <li>  
            <a href="/perfil"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg></a></li>
           
          </ul>   
      </header>
        <main class="principal">
            
            <form class="formulario"  action="/imc" method="POST">
           <h3>Email</h3>
             <input type="email" name="email" class="form1">
           <h3>Usuário</h3>
             <input type="text" name="username" class="form1"> 
           <h3>Senha</h3>
             <input type="password" name="password" class="form1">
           <h3>Nome</h3>
             <input type="text" name="nome" class="form1">
           <h3>Idade</h3>
             <input type="text" name="idade" class="form1">
           <h3>Altura</h3>
             <input type="text" name="altura" class="form1">
           <h3>Peso</h3>
             <input type="text" name="peso" class="form1">
          <div class="opcao">
             <h3>Sexo</h3>
             <input type="radio" name="sexo" value="M">Masculino
             <input type="radio" name="sexo" value="F">Feminino
          </div>
          <div class="textfield">
             <button class="btn-login" type="submit">Cadastrar</button>
         </div>
    </div>
</body>
</html>