<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/perfil.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seja Bem vindo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
  <header>
    <ul class="lista">
        <div class="pags">
            <li>
                <a href="/imc">IMC</a>
            </li>
            <li>
                <a href="/sobre">Sobre</a>
            </li>
            <li>
                <div div class="dropdown common-dropdown">
                    <a href="/perfil"  class="profile-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                            <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                        </svg>
                    </a>
                    <div class="dropdown-content">
                        <a href="/perfil"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                          <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                      </svg> Perfil</a>
                        <a href="/logout"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"/></svg>Logout</a>
                    </div>
                </div>
            </li>
        </div>   
    </ul>   
</header>
<main class="principal">
  <div class="formulario">
    <div class="dados">
      <p><strong>Nome</strong><br>
         {{ dados_usuario.nome }}
        </p>
    </div>
    <div class="dados">
      <p><strong>Idade</strong><br>
         {{ dados_usuario.idade }} Anos
        </p>
    </div>
        <div class="dados">
      <p><strong>Peso</strong><br>
         {{ dados_usuario.peso }}Kgs
        </p>
        </div>
        <div class="dados">
      <p><strong>Altura</strong><br>
         {{ dados_usuario.altura }}m
        </p>
        </div>
      <div class="opcao">
          <p><strong>Sexo</strong></p>
          <p>{{ "Masculino" if dados_usuario.sexo.strip() == 'M' else "Feminino" }}</p>
      </div>
      <button id="confirmUpdateBtn" class="attButton">Atualizar Perfil</button>
      <div class="delete">
        <p><strong>EXCLUIR PERFIL</strong></p>
      </div>
      <div id="confirmDeleteModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <p>Deseja realmente excluir o perfil?</p>
          <button id="confirmDeleteBtn" class="attButton">Sim, Excluir</button>
        </div>
      </div>
      <div id="confirmModal" class="modal">
          <div class="modal-content">
              <span class="close">&times;</span>
              <div class="att-container">
                  <form method="post" action="/atualizar_perfil">
                      <p>Selecione o campo a ser atualizado:</p>
                      <select name="campo_atualizar">
                          <option value="nome">Nome</option>
                          <option value="idade">Idade</option>
                          <option value="peso">Peso</option>
                          <option value="altura">Altura</option>
                          <option value="sexo">Sexo</option>
                      </select>
                      <p>Novo valor:</p>
                      <input type="text" class="form1" name="novo_valor" placeholder="SEXO (F ou M)">
                      <input type="submit" value="Atualizar Perfil" class="attButton">
                      
                  </form>
              </div>
          </div>
      </div>
  </div>
  <img src="../static/imgs/frutas.png" alt="imagem de fundo" class="img">
</main>

<footer>
  <h2>TODOS OS DIREITOS RESERVADOS | © NUTRI_DEV 2023 </h2>
</footer>
<script src="../static/js/perfil.js"></script>
 
</body>
</html>
